In [1]:
import pickle
import pandas as pd
import sqlite3

features_df = pickle.load(open('features_df_norm.pckl','rb'))

song_df = pickle.load(open('full_songs_df.pckl','rb'))

In [2]:
song_df.iloc[0]

title                     ALMA - Chasing Highs
channelID             UC9-JQq0wxUBItLsBOI3PckA
views                                 35773447
likes                                   251152
dislikes                                 13389
duration_secs                              210
dateUploaded               2017-03-31 08:00:07
dateFound                  2018-07-13 16:00:00
discoveryTime_days                         469
Name: w6DukrYK5wQ, dtype: object

In [3]:
import sqlite3

conn = sqlite3.connect('songs_db.db')
print('opened database successfully')

opened database successfully

In [5]:
# only execute if table needs to be created!

conn.execute('''CREATE TABLE SONGS
         (id TEXT PRIMARY KEY     NOT NULL,
         title TEXT NOT NULL,
         channelID TEXT NOT NULL,
         views INT NOT NULL,
         likes INT NOT NULL,
         dislikes INT NOT NULL,
         duration_secs INT NOT NULL,
         dateUploaded DATETIME NOT NULL,
         dateFound DATETIME NOT NULL,
         discoveryTime INT NOT NULL);''')

In [4]:
conn.execute('DROP TABLE SONGS')

In [7]:
# can easily add new songs to database if needed. Would only need new song_df.
for i in range(len(song_df.title)):
    conn.execute('INSERT INTO SONGS (id, title, channelID, views, likes, dislikes, duration_secs, dateUploaded, dateFound, discoveryTime) \
        VALUES (?,?,?,?,?,?,?,?,?,?)',(
        song_df.index[i],
        song_df.title[i],
        song_df.channelID[i],
        int(song_df.views[i]),
        int(song_df.likes[i]),
        int(song_df.dislikes[i]),
        int(song_df.duration_secs[i]),
        song_df.dateUploaded[i],
        song_df.dateFound[i],
        int(song_df.discoveryTime_days[i])))

In [8]:
conn.execute("""SELECT COUNT(*) FROM SONGS""").fetchall()

[(4743,)]

In [9]:
# save changes to database
conn.commit()

In [10]:
conn.execute("""SELECT * FROM SONGS WHERE TITLE LIKE '%Automatic%'""").fetchall()

[('xPg44HTRsPc',
  "The Mowgli's - Automatic (Audio)",
  'UCsssGsAo8-1k2hV72VRdMqg',
  33209,
  393,
  12,
  171,
  '2016-09-30 14:56:10',
  '2017-02-16 16:00:00',
  232),
 ('N62VaLn4WwE',
  'ZHU - Automatic (feat. AlunaGeorge)',
  'UCJ2cGU-CskWXRmzql5RgjKg',
  50600,
  577,
  16,
  232,
  '2015-11-06 16:06:47',
  '2015-11-06 16:00:00',
  105)]